[submodule "GNPS2_DeploymentTooling"]
	path = GNPS2_DeploymentTooling
	url = https://github.com/Wang-Bioinformatics-Lab/GNPS2_DeploymentTooling.git
	branch = main
[submodule "bin/NP3_MS_Workflow"]
	path = bin/NP3_MS_Workflow
	url = https://github.com/danielatrivella/NP3_MS_Workflow.git
